.profile-button {
  background-color: white;
}

.manage-spots {
  text-decoration: none;
  font-size: 14px
}

.log-out {
  border: none;
  background-color: white;
  cursor: pointer;
}

.profile-text {
  font-size: 14px;
}
